/* DONASI CSS */

body {
    --cb-bg-opacity: 1;
    background-color: rgb(0 34 48 / var(--cb-bg-opacity));
    --cb-text-opacity: 1;
    color: rgb(255 255 255 / var(--cb-text-opacity));
}

.number-input-no-arrow {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
}

.number-input-no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.number-input-no-arrow::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
}

.main-wrapper {
    display: flex;
    min-height: 100svh;
    width: 100svw;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    padding: 0.5rem;
}

@media (min-width: 1024px) {
    .main-wrapper {
        padding: 0.25rem;
    }
}

.main-wrapper section {
    width: 100%;
}

@media (min-width: 640px) {
    .main-wrapper section {
        max-width: 640px;
    }
}

@media (min-width: 768px) {
    .main-wrapper section {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .main-wrapper section {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .main-wrapper section {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .main-wrapper section {
        max-width: 1536px;
    }
}

.main-wrapper section {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 36rem;
}

.gradient-wrapper-top {
    position: absolute;
    top: -7rem;
    right: -2.5rem;
    z-index: -10;
    padding: 16rem;
}

.gradient-wrapper .gradient-top {
    position: relative;
    display: flex;
    place-items: center;
}

.gradient-wrapper .gradient-top::before {
    position: absolute;
    z-index: -20;
    height: 240px;
    width: 300px;
    border-radius: 9999px;
    background-image: linear-gradient(
        to bottom right,
        var(--cb-gradient-stops)
    );
    --cb-gradient-from: rgb(255 255 255 / 0.25) var(--cb-gradient-from-position);
    --cb-gradient-to: rgb(255 255 255 / 0) var(--cb-gradient-to-position);
    --cb-gradient-stops: var(--cb-gradient-from), var(--cb-gradient-to);
    --cb-gradient-to: transparent var(--cb-gradient-to-position);
    --cb-blur: blur(64px);
    filter: var(--cb-blur) var(--cb-brightness) var(--cb-contrast)
        var(--cb-grayscale) var(--cb-hue-rotate) var(--cb-invert)
        var(--cb-saturate) var(--cb-sepia) var(--cb-drop-shadow);
    --cb-content: "";
    content: var(--cb-content);
}

.gradient-wrapper .gradient-top::after {
    position: absolute;
    z-index: -20;
    height: 340px;
    width: 600px;
    --cb-translate-x: -33.333333%;
    transform: translate(var(--cb-translate-x), var(--cb-translate-y))
        rotate(var(--cb-rotate)) skewX(var(--cb-skew-x)) skewY(var(--cb-skew-y))
        scaleX(var(--cb-scale-x)) scaleY(var(--cb-scale-y));
    border-radius: 9999px;
    background-image: linear-gradient(
        to bottom right,
        var(--cb-gradient-stops)
    );
    --cb-gradient-from: rgb(34 211 238 / 0.45) var(--cb-gradient-from-position);
    --cb-gradient-to: rgb(34 211 238 / 0) var(--cb-gradient-to-position);
    --cb-gradient-stops: var(--cb-gradient-from), var(--cb-gradient-to);
    --cb-gradient-to: rgb(165 243 252 / 0) var(--cb-gradient-to-position);
    --cb-gradient-stops: var(--cb-gradient-from),
        rgb(165 243 252 / 0.35) var(--cb-gradient-via-position),
        var(--cb-gradient-to);
    --cb-blur: blur(64px);
    filter: var(--cb-blur) var(--cb-brightness) var(--cb-contrast)
        var(--cb-grayscale) var(--cb-hue-rotate) var(--cb-invert)
        var(--cb-saturate) var(--cb-sepia) var(--cb-drop-shadow);
    --cb-content: "";
    content: var(--cb-content);
}

@media (min-width: 1024px) {
    .gradient-wrapper .gradient-top::before {
        content: var(--cb-content);
        height: 540px;
    }
}

.back-button {
    margin-bottom: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    border-radius: 0.375rem;
    padding: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.back-button:hover {
    background-color: rgb(17 24 39 / 0.8);
}

.content-wrapper {
    border-radius: 0.5rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    background-color: rgb(3 24 33 / 0.4);
    padding: 1rem;
    --cb-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--cb-backdrop-blur)
        var(--cb-backdrop-brightness) var(--cb-backdrop-contrast)
        var(--cb-backdrop-grayscale) var(--cb-backdrop-hue-rotate)
        var(--cb-backdrop-invert) var(--cb-backdrop-opacity)
        var(--cb-backdrop-saturate) var(--cb-backdrop-sepia);
    backdrop-filter: var(--cb-backdrop-blur) var(--cb-backdrop-brightness)
        var(--cb-backdrop-contrast) var(--cb-backdrop-grayscale)
        var(--cb-backdrop-hue-rotate) var(--cb-backdrop-invert)
        var(--cb-backdrop-opacity) var(--cb-backdrop-saturate)
        var(--cb-backdrop-sepia);
}

.content-wrapper .header p:nth-child(1) {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.content-wrapper .header p:nth-child(2) {
    font-size: 0.875rem;
    line-height: 1.25rem;
    --cb-text-opacity: 1;
    color: rgb(209 213 219 / var(--cb-text-opacity));
}

form .input-one {
    display: block;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 1.25rem;
}

@media (min-width: 640px) {
    form .input-one {
        display: grid;
    }
}

.custom-input label,
.custom-textarea label {
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
}

.custom-input div input {
    width: 100%;
    border-bottom-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    background-color: transparent;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --cb-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --cb-shadow-colored: 0 1px 2px 0 var(--cb-shadow-color);
    box-shadow: var(--cb-ring-offset-shadow, 0 0 #0000),
        var(--cb-ring-shadow, 0 0 #0000), var(--cb-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-input div input:hover {
    --cb-border-opacity: 1;
    border-color: rgb(192 132 252 / var(--cb-border-opacity));
}

.custom-input div input:focus {
    --cb-border-opacity: 1;
    border-color: rgb(192 132 252 / var(--cb-border-opacity));
}

@media (min-width: 640px) {
    .custom-input div input {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.custom-textarea textarea {
    width: 100%;
    border-bottom-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    background-color: transparent;
    padding-left: 0.375rem;
    padding-right: 0.375rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    --cb-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
    --cb-shadow-colored: 0 1px 2px 0 var(--cb-shadow-color);
    box-shadow: var(--cb-ring-offset-shadow, 0 0 #0000),
        var(--cb-ring-shadow, 0 0 #0000), var(--cb-shadow);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 100ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.custom-textarea textarea:hover {
    --cb-border-opacity: 1;
    border-color: rgb(192 132 252 / var(--cb-border-opacity));
}

.custom-textarea textarea:focus {
    --cb-border-opacity: 1;
    border-color: rgb(192 132 252 / var(--cb-border-opacity));
}

@media (min-width: 640px) {
    .custom-textarea textarea {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}

.amount-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

@media (min-width: 640px) {
    .amount-wrapper {
        grid-template-columns: repeat(4, minmax(0, 1fr));
    }
}

.amount-wrapper button:nth-child(1) {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    --cb-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--cb-backdrop-blur)
        var(--cb-backdrop-brightness) var(--cb-backdrop-contrast)
        var(--cb-backdrop-grayscale) var(--cb-backdrop-hue-rotate)
        var(--cb-backdrop-invert) var(--cb-backdrop-opacity)
        var(--cb-backdrop-saturate) var(--cb-backdrop-sepia);
    backdrop-filter: var(--cb-backdrop-blur) var(--cb-backdrop-brightness)
        var(--cb-backdrop-contrast) var(--cb-backdrop-grayscale)
        var(--cb-backdrop-hue-rotate) var(--cb-backdrop-invert)
        var(--cb-backdrop-opacity) var(--cb-backdrop-saturate)
        var(--cb-backdrop-sepia);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.amount-wrapper button:nth-child(1):hover {
    --cb-border-opacity: 1;
    border-color: rgb(202 138 4 / var(--cb-border-opacity));
    background-color: rgb(113 63 18 / 0.7);
}

.amount-wrapper button:nth-child(2) {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    --cb-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--cb-backdrop-blur)
        var(--cb-backdrop-brightness) var(--cb-backdrop-contrast)
        var(--cb-backdrop-grayscale) var(--cb-backdrop-hue-rotate)
        var(--cb-backdrop-invert) var(--cb-backdrop-opacity)
        var(--cb-backdrop-saturate) var(--cb-backdrop-sepia);
    backdrop-filter: var(--cb-backdrop-blur) var(--cb-backdrop-brightness)
        var(--cb-backdrop-contrast) var(--cb-backdrop-grayscale)
        var(--cb-backdrop-hue-rotate) var(--cb-backdrop-invert)
        var(--cb-backdrop-opacity) var(--cb-backdrop-saturate)
        var(--cb-backdrop-sepia);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.amount-wrapper button:nth-child(2):hover {
    --cb-border-opacity: 1;
    border-color: rgb(147 51 234 / var(--cb-border-opacity));
    background-color: rgb(88 28 135 / 0.7);
}

.amount-wrapper button:nth-child(3) {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    --cb-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--cb-backdrop-blur)
        var(--cb-backdrop-brightness) var(--cb-backdrop-contrast)
        var(--cb-backdrop-grayscale) var(--cb-backdrop-hue-rotate)
        var(--cb-backdrop-invert) var(--cb-backdrop-opacity)
        var(--cb-backdrop-saturate) var(--cb-backdrop-sepia);
    backdrop-filter: var(--cb-backdrop-blur) var(--cb-backdrop-brightness)
        var(--cb-backdrop-contrast) var(--cb-backdrop-grayscale)
        var(--cb-backdrop-hue-rotate) var(--cb-backdrop-invert)
        var(--cb-backdrop-opacity) var(--cb-backdrop-saturate)
        var(--cb-backdrop-sepia);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.amount-wrapper button:nth-child(3):hover {
    --cb-border-opacity: 1;
    border-color: rgb(8 145 178 / var(--cb-border-opacity));
    background-color: rgb(22 78 99 / 0.7);
}

.amount-wrapper button:nth-child(4) {
    display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    border-radius: 0.5rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    --cb-backdrop-blur: blur(12px);
    -webkit-backdrop-filter: var(--cb-backdrop-blur)
        var(--cb-backdrop-brightness) var(--cb-backdrop-contrast)
        var(--cb-backdrop-grayscale) var(--cb-backdrop-hue-rotate)
        var(--cb-backdrop-invert) var(--cb-backdrop-opacity)
        var(--cb-backdrop-saturate) var(--cb-backdrop-sepia);
    backdrop-filter: var(--cb-backdrop-blur) var(--cb-backdrop-brightness)
        var(--cb-backdrop-contrast) var(--cb-backdrop-grayscale)
        var(--cb-backdrop-hue-rotate) var(--cb-backdrop-invert)
        var(--cb-backdrop-opacity) var(--cb-backdrop-saturate)
        var(--cb-backdrop-sepia);
    transition-property: color, background-color, border-color,
        text-decoration-color, fill, stroke;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.amount-wrapper button:nth-child(4):hover {
    --cb-border-opacity: 1;
    border-color: rgb(220 38 38 / var(--cb-border-opacity));
    background-color: rgb(127 29 29 / 0.7);
}

.btn-b-wrapper {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
}

.btn-b-wrapper .secondary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(75 85 99 / var(--cb-border-opacity));
    --cb-bg-opacity: 1;
    background-color: rgb(55 65 81 / var(--cb-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --cb-text-opacity: 1;
    color: rgb(255 255 255 / var(--cb-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-b-wrapper .secondary:hover {
    --cb-bg-opacity: 1;
    background-color: rgb(31 41 55 / var(--cb-bg-opacity));
}

.btn-b-wrapper .secondary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --cb-ring-offset-shadow: var(--cb-ring-inset) 0 0 0
        var(--cb-ring-offset-width) var(--cb-ring-offset-color);
    --cb-ring-shadow: var(--cb-ring-inset) 0 0 0
        calc(1px + var(--cb-ring-offset-width)) var(--cb-ring-color);
    box-shadow: var(--cb-ring-offset-shadow), var(--cb-ring-shadow),
        var(--cb-shadow, 0 0 #0000);
    --cb-ring-opacity: 1;
    --cb-ring-color: rgb(107 114 128 / var(--cb-ring-opacity));
}

.btn-b-wrapper .primary {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    border-radius: 0.375rem;
    border-width: 1px;
    --cb-border-opacity: 1;
    border-color: rgb(8 145 178 / var(--cb-border-opacity));
    --cb-bg-opacity: 1;
    background-color: rgb(14 116 144 / var(--cb-bg-opacity));
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    --cb-text-opacity: 1;
    color: rgb(255 255 255 / var(--cb-text-opacity));
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition-property: all;
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-b-wrapper .primary:hover {
    --cb-bg-opacity: 1;
    background-color: rgb(21 94 117 / var(--cb-bg-opacity));
}

.btn-b-wrapper .primary:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
    --cb-ring-offset-shadow: var(--cb-ring-inset) 0 0 0
        var(--cb-ring-offset-width) var(--cb-ring-offset-color);
    --cb-ring-shadow: var(--cb-ring-inset) 0 0 0
        calc(1px + var(--cb-ring-offset-width)) var(--cb-ring-color);
    box-shadow: var(--cb-ring-offset-shadow), var(--cb-ring-shadow),
        var(--cb-shadow, 0 0 #0000);
    --cb-ring-opacity: 1;
    --cb-ring-color: rgb(6 182 212 / var(--cb-ring-opacity));
}

/* ADDITIONALS */

.flex {
    display: flex;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.\!text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}

.text-center {
    text-align: center;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 0.75rem;
}

.mt-4 {
    margin-top: 1rem;
}

.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.gap-1 {
    gap: 0.25rem;
}

.gap-2 {
    gap: 0.5rem;
}

.gap-4 {
    gap: 1rem;
}

.gap-5 {
    gap: 1.25rem;
}
