/* @import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap"); */

/* Body */
*,
*::before,
*::after {
    box-sizing: border-box;
    /* font-family: "Montserrat", sans-serif; */
}

body {
    /* min-height: 300px;
    height: 100vh; */
    margin: 0;
    color: #ffffff;
    background: #002230;
}

section {
    overflow: hidden;
    position: relative;
    width: 100svw;
    height: 100svh;
}

.gradient-wrapper {
    position: absolute;
    right: 320px;
    top: -240px;
    padding: 256px;
}

.gradient-one {
    position: relative;
    display: flex;
    place-items: center;
}

.gradient-one::before {
    position: absolute;
    height: 240px;
    width: 800px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        transparent 100%
    );
    filter: blur(64px);
    content: "";
    z-index: -20;
}

.gradient-one::after {
    position: absolute;
    z-index: -20;
    height: 580px;
    width: 1300px;
    border-radius: 50%;
    transform: translateX(-33.33%);
    background: radial-gradient(
        circle,
        rgba(107, 33, 168, 0.45) 0%,
        rgba(147, 51, 234, 0.35) 50%,
        rgba(147, 51, 234, 0.35) 100%
    );
    filter: blur(64px);
    content: "";
}

.gradient-one::before {
    height: 540px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* height: 100%; */
}

.btn-group-top {
    position: absolute;
    top: 0.75rem;
    left: 0.75rem;
    z-index: 10;
    gap: 0.5rem;
    /* margin-left: 10px; */
}

.btn-group-bottom {
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
}

.btn {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 14px;
    padding: 0.625rem 1.25rem;
    outline: none;
    transition: background-color 0.3s ease-in-out;
    text-decoration: none;
}

.btn-white {
    color: #000;
    border: 1px solid #e5e7eb;
    background-color: #f9fafb;
}

.button-wrapper .btn-white {
    display: inline-block;
    width: 100%;
    background-color: #ffffff;
    transition: background-color 0.2s ease-in-out;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 14px;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.button-wrapper .btn-white:hover {
    background-color: #f4f5f7;
}

.button-wrapper .btn-white:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(156, 163, 175, 0.5);
}

.btn-primary {
    display: inline-block;
    width: 100%;
    color: #ffffff;
    background-color: #2cb3b3 !important;
    transition: background-color 0.2s ease-in-out;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 14px;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.btn-primary:hover {
    background-color: #21a4a4; /* Hover:bg-cyan-500 */
}

.btn-primary:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(44, 179, 179, 0.5); /* Focus:ring-4 Focus:ring-cyan-200 */
}

.btn-transparent {
    color: #ffffff;
    border: 1px solid #718096;
    background-color: rgba(82, 80, 80, 0.4) !important;
}

.btn-square {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
}

.btn-transparent:hover {
    background-color: rgba(82, 80, 80, 0.6);
}

.btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(45, 55, 72, 0.5);
}

.button-end {
    display: flex;
    margin-top: 1rem;
    justify-content: flex-end;
}

/* Leaderboard */

.leaderboard h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #ffffff;
    padding: 12px 13px 18px;
    text-align: center;
}

.leaderboard ol {
    counter-reset: leaderboard;
}

.leaderboard ol li {
    position: relative;
    z-index: 1;
    font-size: 14px;
    counter-increment: leaderboard;
    padding: 18px 10px 18px 50px;
    border: 1px solid #4a5568;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: translateZ(0) scale(1, 1);
}

.leaderboard ol li::before {
    content: counter(leaderboard);
    position: absolute;
    z-index: 2;
    top: 15px;
    left: 15px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    color: #1b4a5e;
    background: #fff;
    border-radius: 20px;
    text-align: center;
}

.leaderboard ol li mark {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 18px 10px 18px 50px;
    margin: 0;
    background: none;
    color: #fff;
}

.leaderboard ol li mark::before,
.leaderboard ol li mark::after {
    content: "";
    position: absolute;
    z-index: 1;
    bottom: -11px;
    left: -9px;
    border-top: 10px solid #5636a7;
    border-left: 10px solid transparent;
    transition: all 0.1s ease-in-out;
    opacity: 0;
}

.leaderboard ol li mark::after {
    left: auto;
    right: -9px;
    border-left: none;
    border-right: 10px solid transparent;
}

.leaderboard ol li small {
    position: relative;
    z-index: 2;
    display: block;
    text-align: right;
}

.leaderboard ol li::after {
    content: "";
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #5636a7;
    box-shadow: 0 3px 0 rgba(0, 0, 0, 0.08);
    transition: all 0.3s ease-in-out;
    opacity: 0;
}

.leaderboard ol li:nth-child(1) {
    background: #5636a7;
}

.leaderboard ol li:nth-child(1)::after {
    background: #5636a7;
}

.leaderboard ol li:nth-child(2) {
    background: #4d3095;
}

.leaderboard ol li:nth-child(2)::after {
    background: #4d3095;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.08);
}

.leaderboard ol li:nth-child(2) mark::before,
.leaderboard ol li:nth-child(2) mark::after {
    border-top: 6px solid #4d3095;
    bottom: -7px;
}

.leaderboard ol li:nth-child(3) {
    background: #432a82;
}

.leaderboard ol li:nth-child(3)::after {
    background: #432a82;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.11);
}

.leaderboard ol li:nth-child(3) mark::before,
.leaderboard ol li:nth-child(3) mark::after {
    border-top: 2px solid #432a82;
    bottom: -3px;
}

.leaderboard ol li:nth-child(4) {
    background: #3a2470;
}

.leaderboard ol li:nth-child(4)::after {
    background: #3a2470;
    box-shadow: 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.leaderboard ol li:nth-child(4) mark::before,
.leaderboard ol li:nth-child(4) mark::after {
    top: -7px;
    bottom: auto;
    border-top: none;
    border-bottom: 6px solid #3a2470;
}

.leaderboard ol li:nth-child(5) {
    background: #301e5d;
    border-radius: 0 0 0.375rem 0.375rem;
}

.leaderboard ol li:nth-child(5)::after {
    background: #301e5d;
    box-shadow: 0 -2.5px 0 rgba(0, 0, 0, 0.12);
    border-radius: 0 0 0.375rem 0.375rem;
}

.leaderboard ol li:nth-child(5) mark::before,
.leaderboard ol li:nth-child(5) mark::after {
    top: -9px;
    bottom: auto;
    border-top: none;
    border-bottom: 8px solid #301e5d;
}

.leaderboard ol li:hover {
    z-index: 2;
    overflow: visible;
}

.leaderboard ol li:hover::after {
    opacity: 1;
    transform: scaleX(1.06) scaleY(1.03);
}

.leaderboard ol li:hover mark::before,
.leaderboard ol li:hover mark::after {
    opacity: 1;
    transition: all 0.35s ease-in-out;
}

/* BUTTON TOP */
.button-top {
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    z-index: 10;
    gap: 0.5rem;
}

.btn-transparent {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: #ffffff;
    border: 1px solid #718096;
    background-color: rgba(82, 80, 80, 0.2);
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 14px;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.btn-transparent:hover {
    background-color: rgba(82, 80, 80, 0.6);
}

.btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(45, 55, 72, 0.5);
}

.gradient-wrapper-two {
    position: absolute;
    right: 20rem;
    bottom: -24rem;
    padding: 16rem;
    --transform-rotate: 180deg;
}

.gradient-two {
    position: relative;
    display: flex;
    place-items: center;
}

.gradient-two::before {
    position: absolute;
    height: 240px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        transparent 100%
    );
    filter: blur(64px);
    content: "";
    z-index: -20;
}

.gradient-two::after {
    position: absolute;
    z-index: -20;
    height: 580px;
    width: 1300px;
    border-radius: 50%;
    transform: translateX(-33.33%);
    background: radial-gradient(
        circle,
        rgba(202 138 4, 0) 0%,
        rgba(202 138 4, 0.25) 50%,
        rgba(133 77 14, 0.15) 100%
    );
    filter: blur(64px);
    content: "";
}

.gradient-two::before {
    height: 540px;
}

.leaderboard {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    /* width: 600px; */
    /* height: 335px; */
    background-color: rgba(3, 24, 33, 0.4);
    border: 1px solid #4a5568;
    backdrop-filter: blur(8px);
    border-radius: 0.375rem;
    box-shadow: 0 7px 30px rgba(62, 9, 11, 0.3);
    /* padding: 10px; */
}

.content-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.leaderboard {
    width: 100%;
    height: fit-content;
    position: relative;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .leaderboard {
        max-width: 640px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (min-width: 768px) {
    .leaderboard {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .leaderboard {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .leaderboard {
        max-width: 900px;
    }
}

@media (min-width: 1536px) {
    .leaderboard {
        max-width: 900px;
    }
}
