@import "main.css";

body {
    color: var(--white);
    background: var(--bg-dark);
}

section {
    overflow: hidden;
    position: relative;
    width: 100svw;
    height: 100svh;
}

/* GRADIENT TOP */

.gradient-wrapper {
    position: absolute;
    right: 320px;
    top: -240px;
    padding: 256px;
}

.gradient-one {
    position: relative;
    display: flex;
    place-items: center;
}

.gradient-one::before {
    position: absolute;
    height: 240px;
    width: 800px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        transparent 100%
    );
    filter: blur(64px);
    content: "";
    z-index: -20;
}

.gradient-one::after {
    position: absolute;
    z-index: -20;
    height: 580px;
    width: 1300px;
    border-radius: 50%;
    transform: translateX(-33.33%);
    background: radial-gradient(
        circle,
        rgba(107, 33, 168, 0.45) 0%,
        rgba(147, 51, 234, 0.35) 50%,
        rgba(147, 51, 234, 0.35) 100%
    );
    filter: blur(64px);
    content: "";
}

.gradient-one::before {
    height: 540px;
}

/* BUTTON TOP */
.button-top {
    position: absolute;
    width: 100%;
    /* top: 0.75rem; */
    /* right: 0.75rem; */
    padding: 10px 10px 0 10px;
    z-index: 10;
    gap: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.btn-transparent {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--white);
    border: 1px solid var(--gray-500);
    background-color: rgba(82, 80, 80, 0.2);
    transition: background-color 0.3s ease-in-out;
    font-weight: 500;
    border-radius: 0.375rem;
    font-size: 0.875rem;
    padding: 0.625rem 1.25rem;
    outline: none;
}

.btn-transparent:hover {
    background-color: rgba(82, 80, 80, 0.6);
}

.btn-transparent:focus {
    outline: none;
    box-shadow: 0 0 0 4px rgba(45, 55, 72, 0.5);
}

/* CONTAINER */
.container {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 1rem;
    max-width: 72rem;
    margin-left: auto;
    margin-right: auto;
}

@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding: 0;
    }

    .text-gradient {
        font-size: 2.25rem;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 1280px;
    }
}

@media (min-width: 1536px) {
    .container {
        max-width: 1536px;
    }
}

.container .wrapper {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .wrapper .wrapper-inner {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    width: 100%;
}

.container .text-gradient {
    background-image: radial-gradient(
        ellipse at top right,
        var(--cb-gradient-stops)
    );
    --cb-gradient-from: #60a5fa var(--cb-gradient-from-position);
    --cb-gradient-to: rgb(96 165 250 / 0) var(--cb-gradient-to-position);
    --cb-gradient-stops: var(--cb-gradient-from), var(--cb-gradient-to);
    --cb-gradient-to: rgb(147 197 253 / 0) var(--cb-gradient-to-position);
    --cb-gradient-stops: var(--cb-gradient-from),
        #93c5fd var(--cb-gradient-via-position), var(--cb-gradient-to);
    --cb-gradient-to: rgb(219 234 254 / 0.1) var(--cb-gradient-to-position);
    -webkit-background-clip: text;
    background-clip: text;
    line-height: 1.375;
    color: transparent;
    letter-spacing: -0.05em;
    font-weight: 600;
    font-size: 2rem;
}

.container .card-bg {
    background-color: rgba(3, 24, 33, 0.4);
    border: 1px solid var(--gray-600);
    backdrop-filter: blur(8px);
    border-radius: 0.375rem;
    max-width: 36rem;
    width: 100%;
    padding: 1rem;
    text-align: center;
}

.text-heading {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
    letter-spacing: -0.025em;
}

.text-up {
    margin-bottom: -0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    letter-spacing: -0.025em;
}

.gradient-wrapper-two {
    position: absolute;
    right: 20rem;
    bottom: -24rem;
    padding: 16rem;
    --transform-rotate: 180deg;
}

.gradient-two {
    position: relative;
    display: flex;
    place-items: center;
}

.gradient-two::before {
    position: absolute;
    height: 240px;
    width: 500px;
    border-radius: 50%;
    background: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.25) 0%,
        transparent 100%
    );
    filter: blur(64px);
    content: "";
    z-index: -20;
}

.gradient-two::after {
    position: absolute;
    z-index: -20;
    height: 580px;
    width: 1300px;
    border-radius: 50%;
    transform: translateX(-33.33%);
    background: radial-gradient(
        circle,
        rgba(202 138 4, 0) 0%,
        rgba(202 138 4, 0.25) 50%,
        rgba(133 77 14, 0.15) 100%
    );
    filter: blur(64px);
    content: "";
}

.gradient-two::before {
    height: 540px;
}

/* ADDS */
.\!text-\[18px\] {
    font-size: 18px !important;
}

.\!text-lg {
    font-size: 1.125rem !important;
    line-height: 1.75rem !important;
}

.\!text-xl {
    font-size: 1.25rem !important;
    line-height: 1.75rem !important;
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
